.detailImage {
   float: right;
   top: -16px;
   right: -706px;
   width: 350px;
   display:inline-block;
}

.jumbotron {
  min-height:380px;
  padding-top: 24px;
  margin-top: 67px;
}

.jumbotron h1 {
  display: inline-block;
  margin-top: 0;
}

.media-container {
  display: flex;
  flex-direction: row;
  margin-left: 134px;
  margin-right: 134px;
}

.container-similar {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.artistDetail-bio {
  overflow-y: scroll;
  height: 240px;
}
.artistDetail-title {
  display: inline-block;
}
.artistDetail-name {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: 700;
}
.artistDetail-ontour {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  padding-left: 20px;
  font-size: 22px;
}
.container-similar p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video-detail .details {
    /*hides the video-detail*/
    margin-top: -150px;
}
.video-detail {
  margin-bottom: 15px;
}
.similar-artist {
    display: inline-block;
    margin: 25px;
    align-items: center;
}

.similar-artist img {
  margin-top: 70px;
  height: 150px;
  width: 150px;
  border-radius: 10%;
  -webkit-box-shadow: 7px -7px 14px 0px rgba(0,0,0,0.84);
  -moz-box-shadow: 7px -7px 14px 0px rgba(0,0,0,0.84);
  box-shadow: 7px -7px 14px 0px rgba(0,0,0,0.84);

}
.similar-artist a {
  color: #93c54b;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 500;
  width: 180px;
  height: 56px;
  text-align: center;
}

.genre-item{
  text-transform: capitalize;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    margin-bottom: 50px;
}
