.detailImage {
   float: right;
   top: -16px;
   right: -706px;
   width: 350px;
   display:inline-block;
}

.jumbotron {
  min-height:380px;
  padding-top: 24px;
}

.jumbotron h1 {
  display: inline-block;
  margin-top: 0;
}

.media-container {
  display: flex;
  flex-direction: row;
  margin-left: 114.5px;
  margin-right: 114.5px;
}

.container-similar {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.container-similar p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.similar-artist {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.similar-artist img {
  height: 100;
  width: 100px;
}

.genre-item{
  text-transform: capitalize;
}