#artist-search-bar {
  /*margin-bottom: 20px;*/
  display: inline ;
  width: 30%;
  position: relative;
  float: right;
}

.searchError{
  float: right;
  color: red;
  font-weight: bold;

}
.songkickEndorse{
  float: right;
  color: grey;
  font-weight: bold;
}

.page-header > h1 {
  display: inline;
  font-size: 38px;
}

.page-header.artists-header {
  padding-bottom: 20px;
}
.ArtistList {
  overflow-y: scroll;
  height: 80vh;
}
.search-bar {
    margin: 20px;
    text-align: center;
}
.search-bar input {
    width: 75%;
}
.video-detail img {
    max-width: 64px;
}
.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.list-group-item {
    cursor: pointer;
}
.list-group-item:hover {
    background-color: #eee;
}

@media screen and (max-width: 767px) {
  #artist-search-bar {
    display: inline ;
    width: 50%;
    position: relative;
    float: right;
  }
}
