.jumbotron {
  min-height:380px;
  padding-top: 24px;
  margin-top: 67px;
}

.jumbotron h1 {
  display: inline-block;
  margin-top: 0;
}

.artist-video {
  padding: 0;
}

.artist-audio {
  padding: 0;
  margin: 10px 0;
}

.artist-upcoming {
  text-align: center;
  margin: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.container-similar {
  display: flex;
  flex-direction: column;
}

.artistDetail-bio {
  overflow-y: scroll;
  height: 240px;
}

.artistDetail-ontour {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  padding-left: 20px;
  font-size: 22px;
}

.container-similar div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-detail .details {
  /*hides the video-detail*/
  margin-top: -150px;
}

.video-detail {
  width: 100%;
}

.similar-artist {
display: flex;
flex-direction: column;
margin: 10px;
align-items: center;
}

.similar-artist img {
  height: 200px;
  width: 200px;
  -webkit-box-shadow: 7px -7px 14px 0px rgba(0,0,0,0.84);
  -moz-box-shadow: 7px -7px 14px 0px rgba(0,0,0,0.84);
  box-shadow: 7px -7px 14px 0px rgba(0,0,0,0.84);

}

.similar-artist a {
  color: #93c54b;
  font-size: 20px;
  font-weight: 800;
}

.genre-item{
  text-transform: capitalize;
}

.text-center {
  display: inline-block;
  cursor: pointer;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  margin-bottom: 50px;
}
