
.audioPlayer-container {
    display: inline-block;
    overflow: scroll;
    max-height: 407px;
}
.audioPlayer-list-item {
    float:left;
    border: 1px solid #93c54b;
    width: 100%;
    text-align: center;
    padding: 9px 20px;
}
.audioPlayer-speaker {
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.audioPlayer-trackName {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
