.audioPlayer-container {
    border: 1px solid black;
    overflow: scroll; 
}
.audioPlayer-list-item {
    float:left; 
    border: 1px solid #93c54b;
    width: 100%;
}
.audioPlayer-speaker {
    float: left; 
    padding-right: 20px;
}