.gm-style-iw {
	position: relative;
	padding: 10px;
	background-color: #fff;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 5px;
	background-color: #81b33a;
	color: white;
	margin: 0;
	border-radius: 10px 10px 10px 10px;
}
#iw-container .iw-content {
	line-height: 18px;
	font-weight: 400;
	padding: 0 5px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0;
	padding: 0;
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 10px 0;
}
.iw-address {
	font-size: 11px;
}
.iw-content a {
	font-size: 11px;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
@media screen and (max-width: 767px) {
  #iw-container .iw-content {
  	line-height: 12px;
  }#iw-container .iw-title {
		font-size: 18px;
	}
	.iw-subTitle {
		font-size: 14px;
	}
	.iw-address {
		font-size: 9px;
	}
	.iw-content a {
		font-size: 9px;
	}
}