.gridding {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    font-weight: bold;
}

.genImage {
    border-radius: 10%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    box-shadow: 
}

.gridding .artist-label {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    text-align: center;
}

.gridding .fa {
    margin-right: 30px !important;
    vertical-align: center !important;
    display: inline-block;
    text-align: center;
    float: right;
    cursor: pointer;
    z-index: 10;
}

.tour{
    font-size: 14px;
    /*text-align: center;*/
    /*margin: 0 auto;*/
    margin-left: 35%;
}