.gridding {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 375px;
    width: 375px;
}

.genImage{
    height: 250px;
    width: 250px;
    object-fit: cover;
    -webkit-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    -moz-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
}

/*.genImage #selected .selArtist{
    height: 250px;
    width: 250px;
    margin-bottom: 5px;
    object-fit: cover;
    -webkit-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    -moz-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
}*/

.gridding .artist-label {
    position: relative;
    display: flex;
    /*height: 48px;*/
    width: 300px;
    justify-content: center;
    /*padding-bottom: 1px;*/
}

.gridding .artist-label .selArtist {
    margin: 0;
    font-size: 21px;
    text-align: center;
    width: 75%;
    /*padding-bottom: 2px;*/
}

/*.gridding .artist-label .fa{
    margin: 5px 0;

    position: absolute;

    left: 265px;
    cursor: pointer;
    z-index: 10;
}*/
.gridding .artist-label .fa {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
}


.tour {
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 767px) {
  .gridding {
    width: 265px;
  }
}
