.genImage{
    padding: 5px;
    border-radius: 100%;
    height: 90px;
    width: 90px;
}

h3{
    margin: 0;
    border: 1px solid white;
    font-weight: bold;
}
#speaker {
    margin-top: 8px !important;
    margin-right: 12px !important;
    float: right !important;
}