.gridding {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    font-weight: bold;
    margin-bottom: 25px;
}

.genImage{
    border-radius: 10%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    -webkit-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    -moz-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
}

.gridding .artist-label {
    position: relative;
    display: flex;
    height: 41px;
    width: 250px;
    justify-content: center;
}

.gridding .artist-label .selArtist {
    margin: 5px 0;
    font-size: 22px;
    text-align: center;
    width: 100%;
}

.gridding .fa {
    margin: 5px 0;
    position: absolute;
    left: 220px;
    cursor: pointer;
    z-index: 10;
}

.tour{
    font-size: 14px;
    /*text-align: center;*/
    /*margin: 0 auto;*/
    margin-left: 35%;
}
