.mapIcon {
  margin: 0;
  margin-top: -10px;
  margin-right: 5px;
  padding: 0;
  display: inline-block;
  float: left;
  margin-left: 10px;
}

.VenueItem{
  height: 350px;
}


.venueStreetAddress{
  display: inline-block;
  font-size: 15px;
  font-weight: 800;
  margin-left: 25%;
}
.venueNameAndMaker {

}
.venueAddressLink {
  color: #3e3f3a !important;
}
.genvenue-address{
 margin-bottom: 25px;
}

#venueMarker {
  display: inline-block;
  position: absolute;
}
.venueName {
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  overflow-x: hidden;
  width: 250px;
  padding-left: 10px
}

/*.genvenue-name-link:hover {
  text-decoration: none;
}

a.genvenue-name-link {
  font-size: 33px;
}
.genvenue-venue i {
  cursor: pointer;
  position: absolute;
  top: 63px;
  left: 18px;
}

.genvenue-venue h4 {
  margin-left: 40px;
  font-size: 18px;
  margin-top: 0px;
}

.genvenue-venue h1 {
  margin-bottom: 0px;
}
*/
/*@media screen and (max-width: 767px) {
  .genvenue-venue h1 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .genvenue-venue i {
    top: 28px;
  }

  .genvenue-venue .fa-map-marker:before {
    font-size: 27px;
  }

  .genvenue-venue h4 {
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 31px;
  }

}*/
