.mapIcon {
  margin: 0;
  margin-top: -10px;
  margin-right: 5px;
  padding: 0;
  display: inline-block;
  float: left;
  margin-left: 10px;
}

.VenueItem{
  height: 350px;
}
.venueAddressLink {
  color: #3e3f3a !important;
}
.genvenue-address{
 margin-bottom: 25px;
}

#venueMarker {
  display: inline-block;
  position: absolute;
}
.venueName {
  display: inline-block;
  font-size: 21px;
  font-weight: 800;
  width: 250px;
}

@media screen and (max-width: 767px) {
  .VenueItem{
    height: 350px;
    margin-left: 10%;
  }
}

.gridding {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 375px;
    width: 375px;
}

.genImage{
    height: 250px;
    width: 250px;
    object-fit: cover;
    -webkit-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    -moz-box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
    box-shadow: 7px -2px 25px -1px rgba(0,0,0,1);
}

.gridding .venue-label {
    position: relative;
    display: flex;
    /*height: 48px;*/
    width: 300px;
    justify-content: center;
    /*padding-bottom: 1px;*/
}

.gridding .venue-label .venueLink {
    margin: 0;
    font-size: 24px;
    text-align: center;
}


.gridding .venue-label .fa {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
}
.venueStreetAddress {
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .gridding .venue-label {
    justify-content: flex-start;
  }

  .venueList .gridding {
    width: 265px;
    align-items: baseline;
  }
}
