.navbar-collapse {
  margin-right: 0;
}
.nav-container {
  display: flex;
  flex: 1;
}

.songkick-search {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.songkick-search a {
  cursor: pointer;
}

.songkick-search a:hover {
  text-decoration: none;
}

.songkick-search input {
  margin: 13px;
  height: 33px;
}

.songkick-search button {
  background: #81b33a;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  margin: 13px 0px 13px 15px;
  padding-top: 3px;
  display: inline-block;
  vertical-align: center;
}
.navbar .nav>li>a {
    font-size: 17px;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }

  .songkick-search {
    display: flex;
    flex-direction: column;
  }

  .songkick-search input, .songkick-search button {
    margin: 0 50px 20px 0;
    width: 170px;
  }
}
