.home-navbar {
  padding-bottom: 3px !important;
}

.navbar-collapse {
  margin-right: 0;
}

.nav-container {
  display: flex;
  flex: 1;
}

.navbar .nav > li > a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.navbar-brand {
  font-size: 33px;
  font-family: 'Pacifico', cursive;
  margin-right: 10px;
}

.glyphicon-search {
  margin-right: 5px;
}

.songkick-search {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.songkick-search a {
  cursor: pointer;
  font-size: 13px;
}

.songkick-search a:hover {
  text-decoration: none;
}

.songkick-search input {
  border-radius: 4px;
  margin: 8px;
  height: 25px;
  width: 90px;
  font-size: 12px;
  padding-left: 4px;
}

input.input-city {
  width: 120px;
}

.songkick-search button {
  background: #81b33a;
  width: 70px;
  height: 25px;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  margin: 13px 0px 13px 15px;
  padding-top: 3px;
  display: inline-block;
  vertical-align: center;
}

@media screen and (max-width: 767px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }

  .songkick-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: baseline;
  }

  .songkick-search input, .songkick-search button {
    margin: 0 50px 20px 0;
    width: 170px;
  }
}
