.spotify {
  background: #649000;
  width: 210px;
  height: 35px;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  float: right;
  margin: 10px 0px 0px 40px;
  display: block;
}

.spotify a{
  color: white;
  text-align: center
  vertical-align: top;
}