.profInfo{
  float: right;
  font-size: 1.5em;
  vertical-align: center
}
.profInfo button{
  font-size: 10px;
}
.profPic{
  border-radius: 100%;
  vertical-align: center;
  margin-top: 3px;
}


button.spotify {
  background: #81b33a;
  width: 210px;
  height: 35px;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  float: right;
  margin: 13px 0px 13px 40px;
  padding-top: 3px;
  display: block;
  vertical-align: center;
}

.spotify a, .spotify a:hover {
  display: inline-block;
  color: white;
  margin: 8px;
  position: relative;
  top: -4px;
}

.fa-spotify:before {
  display: inline-block;
  margin: 2px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  button.spotify {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: 0;
    left: -40px;
  }
}