.profInfo {
  float: right;
  font-size: 1.1em;
  vertical-align: center
}
.profPic {
  border-radius: 100%;
  vertical-align: center;
  margin-top: 3px;
}
.NavLogin {
  display: inline;
}
button.spotify {
  background: #81b33a;
  width: 180px;
  height: 37px;
  border-radius: 10px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  float: right;
  margin: 13px 0 13px 13px;
  padding-top: 3px;
  display: inline-block;
}
.spotify .aLink,
.spotify .aLink:hover {
  display: inline-block;
  color: white;
  margin: 8px;
  position: relative;
  top: -3px;
}
.fa-spotify:before {
  display: inline-block;
  margin: 2px;
}
/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
  button.spotify {
    display: inline-block;
    margin: 0 50px 20px 0;
    width: 210px;
    float: none;
  }

  .profInfo {
    display: flex;
    flex-direction: column;
    float: none;
    margin: 0 13px 13px 0;
  }

  .profPic {
    display: none;
  }
}