.panel-title {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.panel-title img {
  display: inline-block;
  float: left;
  margin-right: 4px;
}

.panel-body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

#accordion .panel-heading {
  padding: 0;
}

.panel .panel-title {
  border-bottom: 0px;
  font-weight: 400;
}

.panel-group .panel+.panel {
  margin-top: -1px;
}
#venueAdress, #doorsOpen {
  font-size: 14px;
  display: inline-block;
  float: right;
  font-weight: 500;
}
div.panel-top {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.venue-marker{
  display: inline-block;
  margin-right: 8px;
}
#venueName {
  font-size: 1.7em;
  font-weight: 800;
  display: inline-block;
}

#accordion .panel-title > a {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 0 !important;
  height: 75px;
  width: 100%;
  padding: 4px;
  line-height: 120%;
  outline: none;
  text-decoration: none;
  text-transform: none;
}

.panel-title a p.artist {
  color: #000;
  font-size: 1.7em;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
}

.panel-title a p.venue {
  margin-bottom: 2px;
}

.panel-title a p.date {
  color: #000;
}

.panel-title .fa {
  margin-top: 21px;
  margin-right: 8px;
  float: right;
}


.accordion-venue {
  margin: 5px 0;
  font-size: 2em;
}


.accordion-band {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.accordion-album-art {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-left: -4px;
  margin-right: 6px;
  margin-top: 2px;
  margin-bottom: 10px;
  border-radius: 500px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 1);
}

.accordion-artist {
  margin: 7px;
  padding-top: 5px;
  font-size: 1.5em;
}

.left {
  display: inline-block;
  margin-left: 10px;
}

.popularity {
  display: inline-block;
  float: right;
  padding: 25px 0 25px 25px;
}
.text-name {
  display: inline-block;
}
.text-Popularity {
  float: right;
  margin: 4px;
}
.text-displayname {
  font-size: 20px;
  font-weight: 800;
  display: inline-block;
  margin-right: 6px;
}
.marker {
  margin-top: 5px;
  cursor: pointer;
}

.fa-map-marker:before {
  font-size: 40px;
  color: #f75a50;
  -webkit-text-stroke: 1px black;
}

#rightBtn {
  font-size: 20px;
  margin-top: 0px !important;
  margin-left: -11px !important;
  margin-right: -10px !important;
  width: 105% !important;
}


.band-info {
  display: flex;
  flex-direction: column;
  min-width: 202px;
}

.accordion-text {
  height: 135px;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 20px;
}

.accordion-text-bottom-gradient {
  position: absolute;
  width: 100%;
  height: 35px;
	bottom: 10px;
  right: 10px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.progress {
  height: 5px;
}

.progress-bar {
  height: 5px;
}

.accordion-album-band-name {
  display: inline-block;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  float: left;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .accordion-album-art {
    height: 75px;
    width: 75px;
    border-radius: 500px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 1);
  }

  .band-info {
    min-width: 77px;
  }
}

/*  .accordion-album-band-name {
    width: 100px;
  }

  .popularity {
    position: relative;
    padding: 10px;
  }*/
