.panel-title img {
    display: inline-block;
    float: left;
    margin-right: 4px;
}
.panel-body {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
#accordion .panel-heading {
    padding: 0;
}
.panel-group .panel+.panel {
    margin-top: -1px;
}
#accordion .panel-title > a {
    border-radius: 0 !important;
    height: 75px;
    padding: 4px;
    line-height: 120%;
    display: block;
    outline: none;
    text-decoration: none;
    text-transform: none;
}
.panel-title a p.artist {
    color: #000;
    font-size: 1.7em;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
}
.panel-title a p.venue {
    margin-bottom: 2px;
}
.panel-title a p.date {
    color: #000;
}
.panel-title .fa {
    margin-top: 8px;
    margin-right: 8px;
    float: right;
}
.panel-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.accordion-venue {
    margin: 5px 0;
    font-size: 2em;
}
#venueAdress, #doorsOpen {
    font-size: 14px;
}
.accordion-band {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.accordion-album-art {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.accordion-artist {
    margin: 7px;
    padding-top: 5px;
    font-size: 1.5em;
}
.left {
    display: inline-block;
    margin-left: 10px;
}
.popularity {
    display: inline-block;
    float: right;
    padding: 25px 0 25px 25px;
}
.marker {
    margin-top: 5px;
    cursor: pointer;
}
.fa-map-marker:before {
    font-size: 40px;
    color: #f75a50;
    -webkit-text-stroke: 1px black;
}
#rightBtn {
    margin-top: 0px !important;
    margin-left: -11px !important;
    margin-right: -10px !important;
    width: 105% !important;
}
#venueName {
    font-size: 1.7em;
}
.band-info {
  display: flex;
  flex-direction: column;
}
.accordion-text {
    margin-bottom: 6px;
}
.progress {
    height: 5px;
}
.progress-bar {
    height: 5px;
}
.accordion-album-band-name {
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    float: left;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .accordion-album-art {
        height: 100px;
        width: 100px;
    }
    .accordion-album-band-name {
        width: 100px;
    }
}
