/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 95vh}

/* Set gray background color and 100% height */
.sidenav {
  padding: 0px !important;
  background-color: #f1f1f1;
  height:94vh;
}
.Main {
  padding-right: 0px !important;
  overflow-y: scroll;
  height:94vh;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 0px;
  }
  .row.content {height:auto;}
}
