.container-fluid.text-center {
    position: fixed;
    margin-top: 67px;
}

.jumbotron{
  background: linear-gradient(to right, #d0cac0, #fffefd);
}

.detailImage {
   float: right;
   top: -16px;
   right: -706px;

   display: inline-block;
   max-height: 300px;
   max-width: auto;
}
/* Remove the navbar's default margin-bottom and rounded borders */

/*.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
.navbar-brand {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}*/
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.form-control {
  font-size: 17px;
  font-weight: 800;
  border: 2px solid #dfd7ca;
}
.page-header {
  border-bottom: 2px solid #f8f5f0;
}
.row.content {
    min-width: 100vw;
    height: 94vh;
}
/* Set gray background color and 100% height */

.sidenav {
    padding: 0px !important;
    background-color: #f1f1f1;
    height: 94vh;
}
.mapContainer {
    height: 95vh;
}
.Main {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow-y: scroll;
    height: 94vh;
}

.detail-title {
  display: block;
}

.display-title-name {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: 700;
}
/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sidenav {
        display: block;
        width: 100%;
        order: 1;
        height: 45vh;
        overflow: hidden;
    }
    .mapContainer {
        height: 50vh;
    }
    .Main {
        display: block;
        height: 45vh;
        width: 100%;
        order: 2;
    }
}
/*::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}*/

::-webkit-scrollbar {
    width: 0px;
}
/*::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
*/
