.upcoming-show {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.upcoming-show-info {
  display: inline-block;
  flex-grow: 1;
  padding-bottom: 18px;
}

.upcoming-show-artists {
  font-size: 28px;
}

.upcoming-show-artists h1 {
  font-size: 30px;
  margin-top: 0px;
}

.upcoming-show-date h3 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 08px;
}

.upcoming-show-info {
  margin: 0px;
  padding: 0px;

}

.upcoming-show-venue-info h3 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 08px;
}

