.UpcomingShowsDetail-container {
  max-height: 392px;
  overflow-y: scroll;
}

.UpcomingShowsDetail-list-item {
  border: 1px solid #93c54b;  
}

.UpcomingShowsDetail-Name {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}

.UpcomingShowsDetail-bottom-gradient {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 10px;
  right: 10px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}