.upcoming-show {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.upcoming-show-info {
  display: inline-block;
  flex-grow: 1;
}

.upcoming-show-buttons {
  /*float: right;*/
}

.upcoming-show-artists a {
  font-size: 30px;
}

.upcoming-show-artists h1 {
  margin-top: 0px;
}

.upcoming-show-date h3 {
  font-size: 18px;
}

.upcoming-show-status {

}

.upcoming-show-venue-info h3 {
  font-size: 18px;
}