.venue-basic-info {
  margin: 5px;
}

/*.venue-media {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}*/

.venue-detail-jumbotron {
  height: auto;
}

.iframe-google {
  width: 100%;
  height: 60vh;
  pointer-events: none;
  /*border: none;*/
}

.venue-detail-row {
  padding: 30px;
}

.upcoming-shows-container {
  overflow: scroll;
  height: 120vh;
}